<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee           https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>Quan Ly Dien Gia Dung</display-name>
    <welcome-file-list>
        <welcome-file>view/common/homepage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ViewPermissionController</servlet-name>
        <servlet-class>controller.Admin.ViewPermissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>controller.Admin.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoleController</servlet-name>
        <servlet-class>controller.Admin.ViewRoleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPermissionController</servlet-name>
        <url-pattern>/view-permission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoleController</servlet-name>
        <url-pattern>/ViewRole</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
</web-app>
